/* * {
  box-sizing: border-box;
} */
a {
  text-decoration: none;
}
.profile-page-wrapper .wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Montserrat;
  background: #262626;
  width: 100%;
  height: 100vh;
  padding-top: 120px;
}

.profile-page-wrapper .outer {
  position: relative;
  background: #fff;
  height: 400px;
  width: 550px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.profile-page-wrapper .content {
  animation-delay: 0.3s;
  position: absolute;
  left: 20px;
  z-index: 3;
}

.profile-page-wrapper h1 {
  color: #111;
}

.profile-page-wrapper p {
  width: 280px;
  font-size: 13px;
  line-height: 1.4;
  color: #aaa;
  margin: 20px 0;
}

.profile-page-wrapper .bg {
  display: inline-block;
  color: #fff;
  background: cornflowerblue;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.7em;
}
.profile-page-wrapper .button {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.profile-page-wrapper .button a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 11px;
  color: #111;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #aaa;
  font-weight: bold;
}

.profile-page-wrapper .button a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: #111;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}

.profile-page-wrapper .button a:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;
}

.profile-page-wrapper .button a:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.profile-page-wrapper .button a:nth-of-type(1) {
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.profile-page-wrapper .button a:nth-of-type(2) {
  border-radius: 0px 50px 50px 0;
}

.profile-page-wrapper .cart-icon {
  padding-right: 8px;
}

.profile-page-wrapper .footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
.profile-page-wrapper .profile-title {
  color: blue;
}
